/* HTML, body... */
html, body {
    margin: 0rem;
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

/* flex-container */
.flex-container {
    background-color: whitesmoke;
    width: 85rem;
    height: 100%;
}