@import "tailwindcss";

@theme {
    --color-offWhite: #c9c9c9;
    --color-offBlack: #242424;
}

:root {
    font-family: 'Inter Variable';
    background-color: rgba(245, 245, 245);
}

@font-face {
    font-family: 'Inter Variable';
    src: url('./Inter-VariableFont.ttf');
}

@font-face {
    font-family: 'Dancing Script';
    src: url('./DancingScript-VariableFont_wght.ttf');
}